.main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px 30px;
    align-items: center;

    p {
        color: #667085;
        font-size: 22px;

        @media (max-width: 1000px) {
            font-size: 14px;
        }
    }

    h2 {
        color: #272D38;
        font-size: 48px;
        width: 435px;
        text-align: center;

        @media (max-width: 1000px) {
            font-size: 32px;
            width: 320px;
        }
    }
}

.main__cards {
    display: flex;
    gap: 10px;
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
      }
}

.main__card {
    background:#DEDCDB80;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 30px;
    border-radius: 15px;

    @media (max-width: 1000px) {
        width: 320px;
        
      }

    img {
        width: 130px;

    }

    h3 {
        font-size: 22px;
        color: #272D38;
        text-align: center;

       
    }

    p {
        color: #667085;
        font-size: 17px;
        align-items: center;
        text-align: center;
    }
}