.about__wrapper {
    display: flex;
    
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    @media (max-width: 1400px) {
      flex-direction: column;
      align-items: center;

      img {
        width: 350px;
      }
    }


}

.about__box {
   
   max-width: 540px;

   @media (max-width: 1400px) {
     width: 380px;

   }
        

    h1 {
        font-size: 64px;
        color: #272D38;

        @media (max-width: 1400px) {
          font-size: 40px;
          text-align: center;
        }
        
    }


    p {
        font-size: 22px; 
        color: #667085;
        margin: 40px auto 50px auto;

        @media (max-width: 1400px) {
          font-size: 16px;
          text-align: center;
        }
    }

    button {
        color: white;
        background: #8EADD5;
        width: 120px;
        padding: 10px 5px;
        border: none;
        text-transform: uppercase;
        border-radius: 5px;
        

        @media (max-width: 1400px) {
        margin: 0 130px;
        }
    }
}

