.footer {
background: #F6F6F6;
}

.footer__wrapper {
display: flex;
flex-direction: column;
gap: 50px;


}

.footer__boxs {

    display: flex;
    gap: 20px;
    justify-content: space-between;


    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
}

.footer__box {

display: flex;
flex-direction: column;
gap: 20px;

    h3 {
        color: #272D38;
        font-size: 18px;
        
        @media (max-width: 1000px) {
            text-align: center;   
        }
    }

    p {
        color: #667085;
        font-size: 18px;


        @media (max-width: 1000px) {
            text-align: center;   
        }
        
    }
}

.active {
gap: 30px;

    @media (max-width: 1000px) {
     text-align: center;
    }

 p {
    width: 190px;


 }
}

.P {
    text-align: center;
}